
/* Menu Styles */

.fifth-level-menu
{
    position: absolute;
    top: 0;
    right: -250px;
    width: 250px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border:solid 1px; 
}

.fifth-level-menu > li
{
    height: 30px;
    background: #999999;
    padding: 5px;
    border-bottom:solid 1px;
}
.fifth-level-menu > li:hover { background: #25a2df; }
.fifth-level-menu img {
    float: right;
    padding-top: 4px;
}

.fourth-level-menu
{
    position: absolute;
    top: 0;
    right: -250px;
    width: 250px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border:solid 1px; 
       font-size: 14px;
}

.fourth-level-menu > li
{
    height: 30px;
    background: #999999;
    padding: 5px;
     border-bottom:solid 1px;
}
.fourth-level-menu > li:hover { background: #25a2df; }
.fourth-level-menu img {
    float: right;
    padding-top: 4px;
}
.third-level-menu
{
    position: absolute;
    top: 0;
    right: -250px;
    width: 250px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border:solid 1px;
     font-size: 14px;
}

.third-level-menu > li
{
    height: 25px;
    background: #999999;
    padding: 5px;
    border-bottom:solid 1px;
}
.third-level-menu > li:hover { background: #25a2df; }
.third-level-menu img {
    float: right;
    padding-top: 4px;
}
.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 250px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border:solid 1px;
    font-size: 14px; 
}

.second-level-menu > li
{
    position: relative;
    height: 23px;
    background: #999999;
    padding: 2px;
    border-bottom:solid 1px;
}

.second-level-menu > li a { color: #FFF; }
.second-level-menu > li a:hover { color: #000; }
.second-level-menu > li:hover { background: #25a2df; }
.second-level-menu img {
    float: right;
    padding-top: 4px;
}
.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 250px;
    background: #25a2df;    
    z-index: 999999;
    padding: 5px;  
    color: #FFF;
}
.top-level-menu > li:hover { background: #25a2df; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}

<link 
/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 20px;
}
.top-level-menu a:hover { color: #000000; }
.top-level-menu img {
	 padding-left: 5px;
}

.menuTable {
border-collapse:collapse;
}
.menuTable .td {
	background-color: #25a2df;	
}

.exittext {
	color:#FFF;
}
